body {
    background-color: black;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #242424;
}

::-webkit-scrollbar-thumb {
    background: #EB7A53;
    border-radius: 100vw;
}

::-webkit-scrollbar-button {
    height: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Main container */
.main-container {
    margin: 0;
    display: grid;
    height: 100vh;
    padding-left: 10rem;
    padding-right: 10rem;
    grid-template-columns: 1fr 1fr;
}

/* Headers and para LEFT CARD */
.left-header {
    margin: 0;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 8rem;
    color: white;
}

.left-subheader {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 2rem;
    color: white;
}

.left-paragraph {
    margin: 0;
    font-family: 'Domine', serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    line-height: 2rem;
}

.paragraph-container {
    max-width: 70%;
}

/* Left container */
.l-main-container-1st {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.left-main-container {
    height: 50rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.start-button {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-style: italic;
    width: 15rem;
    font-size: 1.3rem;
    border: none;
    background-color: #F6ECC9;
    padding: 1rem;
    border-radius: 15px;
}

.start-button:hover {
    background-color: #EB7A53;
    animation: buttonAnimate 0.5s ease-in-out forwards;
}

@keyframes buttonAnimate {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/* Right container */
.right-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #242424;
    width: 35rem;
    height: 50rem;
    border-radius: 30px;
}

.right-card-bubble {
    display: flex;
    align-items: center;
    background-color: #F6ECC9;
    width: 25rem;
    height: 7rem;
    border-radius: 35px 35px 0 35px;
    overflow: auto;
}

.bubble-button-container {
    padding: 2rem;
}

.bubble-button {
    background-color: #F6ECC9;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid black;
}

.bubble-button:hover {
    background-color: #EB7A53;
}

.bubble-content-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.bubble-content-head {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 1rem 0 1rem 0;
}

.bubble-content-description {
    font-family: 'Domine', serif;
    font-weight: 400;
    font-size: 1rem;
}

.task-complete {
    opacity: 20%;
}

.button-task-complete {
    opacity: 100%;
    background-color: #EB7A53;
}


/* Today page */
.main-container-today {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem 3rem 0 3rem;
    gap: 2rem;
}

.category-selector-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 3rem;
}

.second-page-button {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    color: white;
    background-color: black;
    border-radius: 15px;
}

.second-page-button:hover {
    cursor: pointer;
    color: black;
    background-color: #EB7A53;
}

.second-page-button-active {
    color: black;
    background-color: #EB7A53;
}

/* second page date card */
.current-date-container {
    display: flex;
    justify-content: center;
}

.current-date {
    margin: 0;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 6rem;
    color: white;
}

/* second page main card */
.main-second-page-card-container {
    display: flex;
    justify-content: start;
    min-height: 5rem;
    padding: 0 35rem;
}

.main-second-page-card {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    border-radius: 15px;
    width: 100%;
    background-color: #242424;

}

.add-item {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    width: 10rem;
    color: black;
    background-color: #EB7A53;
}

.add-item:hover {
    transform: scale(1.1);
}

/* add item modal */
.modal-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #242424;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    padding: 3rem 0;
    border-radius: 15px;
    align-items: center;
    z-index: 10;
}

.modal-card-title {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

.modal-card-heading-container {
    display: flex;
    flex-direction: column;
}

.modal-card-heading {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}

.modal-card-heading-input {
    border: none;
    border-radius: 15px;
    width: 35rem;
    padding: 1rem;
    background-color: #F6ECC9;
    color: black;
    font-family: 'Domine', serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.modal-card-button-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
}

.add-item-modal {
    background-color: #EB7A53;
    color: black;
}

.add-item-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 5;
}

@media (min-width: 320px) and (max-width: 425px) {
    .main-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 1rem;
    }

    .left-header {
        font-size: 6rem;
    }

    .l-main-container-1st {
        min-width: fit-content;
    }

    .left-main-container {
        gap: 2rem;
    }

    .left-header,
    .left-subheader,
    .left-paragraph {
        text-align: center;
    }

    /* Left container */
    .paragraph-container {
        min-width: 100%;
    }

    .front-page-form {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .start-button {
        font-size: 2rem;
    }

    .right-card-container {
        width: 25rem;
    }

    .right-card-bubble {
        width: 20rem;
        padding: 0 0 1rem 0;
        overflow: auto;
    }

    /* today-page */
    .main-container-today {
        padding: 0;
    }

    .category-selector-container {
        justify-content: space-evenly;
    }

    .current-date-container {
        text-align: center;
    }

    .current-date {
        font-size: 3rem;
    }

    .main-second-page-card-container {
        padding: 0;
    }

    .main-second-page-card {
        padding: 1rem 0;
    }

    .modal-card {
        width: 100%;
    }

    .add-item-form {
        max-width: 100%;
    }

    .modal-card-heading-input {
        padding: 0.3rem;
        width: auto;
    }

    .add-item {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        right: 0;
        bottom: 1rem;
        padding: 0;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .main-container {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .left-main-container {
        height: fit-content;
    }

    .left-header {
        font-size: 6rem;
    }

    .left-header,
    .left-subheader,
    .left-paragraph {
        text-align: center;
    }

    .left-subheader {
        font-size: 3rem;
    }

    .left-paragraph {
        font-size: 2rem;
    }

    /* Left container */
    .paragraph-container {
        align-self: center;
        text-align: center;
    }

    .front-page-form {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .start-button {
        font-size: 2rem;
    }

    /* Right container */
    .right-card-container {
        width: 80%;
    }

    .right-card-bubble {
        width: 80%;
    }

    .bubble-button {
        width: 3rem;
        height: 3rem;
    }

    .bubble-content-head {
        font-size: 1.5rem;
    }

    /* today-page */
    .main-container-today {
        padding: 0;
    }

    .category-selector-container {
        justify-content: space-evenly;
    }

    .second-page-button {
        font-size: 2rem;
    }

    .current-date-container {
        text-align: center;
    }

    .current-date {
        font-size: 5rem;
    }

    .main-second-page-card-container {
        padding: 0;
    }

    .main-second-page-card {
        padding: 1rem 0;
        margin: 0 2rem;
    }

    .modal-card {
        width: 100%;
    }

    .add-item-form {
        max-width: 100%;
    }

    .modal-card-heading-input {
        padding: 0.3rem;

    }

    .add-item {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        right: 2rem;
        bottom: 5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    .main-container {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .left-main-container {
        height: fit-content;
    }

    .left-header {
        font-size: 9rem;
    }

    .left-header,
    .left-subheader,
    .left-paragraph {
        text-align: center;
    }

    .left-subheader {
        font-size: 3.5rem;
    }

    .left-paragraph {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    /* Left container */
    .paragraph-container {
        align-self: center;
        text-align: center;
        max-width: 100%;
    }

    .front-page-form {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .start-button {
        font-size: 2rem;
    }

    /* Right container */
    .right-card-container {
        width: 80%;
    }

    .right-card-bubble {
        width: 80%;
    }

    .bubble-button {
        width: 3rem;
        height: 3rem;
    }

    .bubble-content-head {
        font-size: 2rem;
    }

    /* today-page */
    .main-container-today {
        padding: 0;
    }

    .category-selector-container {
        justify-content: space-evenly;
    }

    .second-page-button {
        font-size: 2rem;
    }

    .current-date-container {
        text-align: center;
    }

    .current-date {
        font-size: 5rem;
    }

    .main-second-page-card-container {
        padding: 0;
    }

    .main-second-page-card {
        padding: 1rem 0;
        margin: 0 2rem;
    }

    .modal-card {
        width: 100%;
    }

    .modal-card-title {
        font-size: 5rem;
    }

    .add-item-form {
        width: 100%;
    }

    .modal-card-heading {
        font-size: 3rem;
    }

    .modal-card-heading-input {
        padding: 0.3rem;
        font-size: 2.5rem;
        width: 90%;
    }

    .add-item {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        right: 2rem;
        bottom: 5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .main-container {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .left-main-container {
        height: fit-content;
    }

    .left-header {
        font-size: 9rem;
    }

    .left-header,
    .left-subheader,
    .left-paragraph {
        text-align: center;
    }

    .left-subheader {
        font-size: 3.5rem;
    }

    .left-paragraph {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    /* Left container */
    .paragraph-container {
        align-self: center;
        text-align: center;
        max-width: 100%;
    }

    .front-page-form {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .start-button {
        font-size: 2rem;
    }

    /* Right container */
    .right-card-container {
        width: 80%;
    }

    .right-card-bubble {
        width: 80%;
    }

    .bubble-button {
        width: 3rem;
        height: 3rem;
    }

    .bubble-content-head {
        font-size: 2rem;
    }

    /* today-page */
    .main-container-today {
        padding: 0;
    }

    .category-selector-container {
        justify-content: space-evenly;
    }

    .second-page-button {
        font-size: 2rem;
    }

    .current-date-container {
        text-align: center;
    }

    .current-date {
        font-size: 5rem;
    }

    .main-second-page-card-container {
        padding: 0;
    }

    .main-second-page-card {
        padding: 1rem 0;
        margin: 0 2rem;
    }

    .modal-card {
        width: 100%;
    }

    .modal-card-title {
        font-size: 5rem;
    }

    .add-item-form {
        width: 100%;
    }

    .modal-card-heading {
        font-size: 3rem;
        padding: 0 1rem;
    }

    .modal-card-heading-input {
        padding: 0.3rem 1rem;
        font-size: 2.5rem;
        width: 90%;
    }

    .add-item {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        right: 2rem;
        bottom: 5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}

@media (min-width: 1400px) {
    .main-second-page-card-container {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .main-second-page-card {
        max-width: 30%;
    }

    .modal-card {
        min-width: 50%;
    }
}