<%- include("partials/header.ejs") %>
    <div class="main-container">
        <div class="l-main-container-1st">
            <div class="left-main-container">
                <div class="left-main-container-header-container">
                    <h1 class="left-header">Simplify Your Day</h1>
                </div>
                <div class="left-main-container-subheader-container">
                    <h2 class="left-subheader">Streamline Your Day with MyTodoApp</h2>
                </div>
                <div class="paragraph-container">
                    <p class="left-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit omnis tenetur ut maiores sapiente maxime quaerat adipisci sint a eligendi temporibus beatae itaque minima doloribus ad provident, odit fuga dignissimos.</p>
                </div>
                <form action="/today" method="get">
                    <button class="start-button" type="submit">Start Todo ➞</button>
                </form>
                
            </div>
        </div>
        
        <div class="right-main-container">
            <div class="right-card-container">
                <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">Take Rick's Meeseeks box</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">cabinet password: 6527</div>
                        </div>
                    </div>
                </div>

                <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">Return Tanjiro's sword 🌊</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">Avoid Inosuke! 👀</div>
                        </div>
                    </div>
                </div>

                <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">commit todo app changes 🚀</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">git commit -m "changes done!"</div>
                        </div>
                    </div>
                </div>

                <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">Meet Tony Stark 🥂</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">Dinner at Stark Tower at 17:00 </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<%- include("partials/footer.ejs") %>