<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
    <title>Todo App</title>
</head>
<body>
    <div class="main-container">
        <div class="l-main-container-1st">
            <div class="left-main-container">
                <div class="left-main-container-header-container">
                    <h1 class="left-header">Simplify Your Day</h1>
                </div>
                <div class="left-main-container-subheader-container">
                    <h2 class="left-subheader">Streamline Your Day with MyTodoApp</h2>
                </div>
                <div class="paragraph-container">
                    <p class="left-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit omnis tenetur ut maiores sapiente maxime quaerat adipisci sint a eligendi temporibus beatae itaque minima doloribus ad provident, odit fuga dignissimos.</p>
                </div>
                <button class="start-button">Start Todo ➞</button>
            </div>
        </div>
        
        <div class="right-main-container">
            <div class="right-card-container">
                <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">Meet Tony Stark</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">Dinner at Stark Tower at 17:00.</div>
                        </div>
                    </div>
                </div>

                <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">Meet Tony Stark</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">Dinner at Stark Tower at 17:00.</div>
                        </div>
                    </div>
                </div>

                <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">Meet Tony Stark</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">Dinner at Stark Tower at 17:00.</div>
                        </div>
                    </div>
                </div>

                <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">Meet Tony Stark</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">Dinner at Stark Tower at 17:00.</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="static/main.js"></script>
</body>
</html>