<%- include("partials/header.ejs") %>
<div class="main-container-today">
      <div class="category-selector-container">
        <div class="today-button-container">
            <button class="second-page-button" id="today">Today</button>
        </div>
        <div class="work-button-container">
            <button class="second-page-button" id="work">Work</button>
        </div>
      </div>
      <div class="current-date-container">
        <div class="current-date-card">
            <div class="current-date">Thursday,  July 21</div>
        </div>
      </div>
      <div class="main-second-page-card-container">
        <div class="main-second-page-card">
            <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">Return Tanjiro's sword 🌊</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">Avoid Inosuke! 👀</div>
                        </div>
                    </div>
                </div>
                <div class="right-card-bubble">
                    <div class="bubble-button-container">
                        <button class="bubble-button"></button>
                    </div>
                    <div class="bubble-content-container">
                        <div class="bubble-content-head">Return Tanjiro's sword 🌊</div>
                        <div class="bubble-content-description-container">
                            <div class="bubble-content-description">Avoid Inosuke! 👀</div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
      <!-- add item modal -->
      <div class="modal-card hidden">
        <div class="modal-card-title">
            Add item
        </div>
        <div class="modal-card-heading-container">
            <div class="modal-card-heading">Heading</div>
            <input class="modal-card-heading-input" name="modal-heading-input">
        </div>
        <div class="modal-card-heading-container">
            <div class="modal-card-heading">Description</div>
            <input class="modal-card-heading-input" name="modal-description-input">
        </div>
        <div class="modal-card-button-container">
            <button class="add-item-modal second-page-button" id="add-item-modal">Add item</button>
            <button class="second-page-button" id="cancel">Cancel</button>
        </div>
      </div>

    <div class="overlay hidden"></div>

      <!-- add item button -->
      <button class="add-item second-page-button" id="item-modal">Add item</button>
</div>
<%- include("partials/footer.ejs") %>